@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 100%;
    margin: 0;    
}
.wrap-header{
    width: 100%;
    background-color: #EEEDE7;
    border-bottom: 2px solid #647C90;
    box-shadow: 0px 3px 7px 5px rgba(0, 0, 255, 0.1)
}
.lName {
    color: #B9B7BD; 
    cursor: pointer
}
.head-wr{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.head-wr ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.head-wr ul li {
    margin-left: 35px;
    padding: 8px;
    border: 1px solid transparent;
    background: #B9B7BD;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.head-wr ul li:hover {
    background: #747474;
    border-radius: 5px;
    cursor: pointer;
}
h3 {
    margin: 0;
}
.wrap-main {
    background-color: rgba(247, 239, 232);
    padding: 100px 0;
}
.wrap-inner-main {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.wmain-content {
    width: 45%;
    text-align: justify;
}
.wmain-content h3,h4 {
    text-align: center
}
.skill-wrap-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto;
    text-align: center;
}
.skill-wrap-inner img {
    margin: 10px 8px;
}